<?xml version="1.0" ?>
<robot name="merlin" xmlns:xacro="http://www.ros.org/wiki/xacro" >

<gazebo reference="base_link">
  <material>Gazebo/Silver</material>
  <selfCollide>true</selfCollide>
  <gravity>true</gravity>
</gazebo>

<gazebo reference="Waist_1">
  <material>Gazebo/Red</material>
  <selfCollide>true</selfCollide>
</gazebo>

<gazebo reference="Shoulder_1">
  <material>Gazebo/Red</material>
  <selfCollide>true</selfCollide>
</gazebo>

<gazebo reference="Elbow_1">
  <material>Gazebo/Red</material>
  <selfCollide>true</selfCollide>
</gazebo>

<gazebo reference="Lower_Head_1">
  <material>Gazebo/Silver</material>
  <selfCollide>true</selfCollide>
</gazebo>

<gazebo reference="Upper_Head_1">
  <material>Gazebo/Silver</material>
  <selfCollide>true</selfCollide>
</gazebo>

<gazebo reference="Face_Plate_1">
  <material>Gazebo/Black</material>
  <selfCollide>true</selfCollide>
</gazebo>

</robot>
