<?xml version="1.0" ?>
<robot name="merlin" xmlns:xacro="http://www.ros.org/wiki/xacro" >
  <xacro:macro name="merlin_gazebo">

<!-- ros_control-plugin -->
<gazebo>
    <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
        <parameters>$(find merlin_bringup)/config/merlin_controllers.yml</parameters>
        <robotNamespace>/merlin</robotNamespace>
    </plugin>
</gazebo>

<gazebo reference="merlin_link_0">
  <material>Gazebo/Silver</material>
  <mu1>0.2</mu1>
  <mu2>0.2</mu2>
  
  
</gazebo>

<gazebo reference="merlin_link_1">
  <material>Gazebo/Red</material>
  <mu1>0.2</mu1>
  <mu2>0.2</mu2>
  
</gazebo>

<gazebo reference="merlin_link_2">
  <material>Gazebo/Red</material>
  <mu1>0.2</mu1>
  <mu2>0.2</mu2>
  
</gazebo>

<gazebo reference="merlin_link_3">
  <material>Gazebo/Red</material>
  <mu1>0.2</mu1>
  <mu2>0.2</mu2>
  
</gazebo>

<gazebo reference="merlin_link_4">
  <material>Gazebo/Silver</material>
  <mu1>0.2</mu1>
  <mu2>0.2</mu2>
  
</gazebo>

<gazebo reference="merlin_link_5">
  <material>Gazebo/Silver</material>
  <mu1>0.2</mu1>
  <mu2>0.2</mu2>
</gazebo>

<gazebo reference="merlin_link_6">
  <material>Gazebo/Black</material>
  <mu1>0.2</mu1>
  <mu2>0.2</mu2>
</gazebo>
  </xacro:macro>
</robot>
