<launch>
<!-- TODO: launch fake controllers -->
  <include file="$(find merlin_description)/launch/gazebo.launch"/>
  <include file="$(find merlin_hardware_interface)/launch/controllers.launch"/>
  <include file="$(find merlin_moveit_config)/launch/move_group.launch">
  </include>
</launch>

2a38847b0de5a06ba7e183f6334e98c5ca510d95